/* Blog layout: Excerpt 
------------------------- */

@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";

.post_layout_excerpt {
	position:relative;
	margin-bottom:0;
}
.post_layout_excerpt + .post_layout_excerpt {
	margin-top: 2.6rem;
}
.post_layout_excerpt:not(.sticky) + .post_layout_excerpt:not(.sticky) {
	padding-top: 2.6rem;
	border-top: 1px solid #eee;
}
.post_layout_excerpt.sticky {
	padding: 3em;
}
.post_layout_excerpt .post_featured {
	display: inline-block;
}
.post_layout_excerpt.post_format_audio .post_featured.without_thumb,
.post_layout_excerpt.post_format_gallery .post_featured.without_thumb {
	display:block;
}
.post_layout_excerpt .post_header {
	margin: 0;
	position:relative;
}
.post_layout_excerpt .post_header .post_price {
	width: auto;
	@include abs-rt;
	@include font(2.5em, 1.5em);
}
.post_layout_excerpt .post_title {
	margin: 0;
	@include font(1.895em, 1.12em);
}
.post_layout_excerpt .post_meta {
	margin-top: 0;
}
.post_layout_excerpt .post_header + .post_content {
	margin-top:1.2rem;
}
.post_layout_excerpt.post_format_gallery .slider_pagination_wrap {
	display: none;
}

// First post large in the Classic and Masonry
body[class*="blog_style_classic"] .post_layout_excerpt,
body[class*="blog_style_masonry"] .post_layout_excerpt {
	margin-bottom: 3em;
}
.post_layout_excerpt.post_format_quote blockquote {
	margin: 0;
}
/* Excerpt Button */
.post_layout_excerpt.post_item .more-link {
	padding: 0;
	font-size: 16px;
}
.post_layout_excerpt .more-link .more-text-icon {
	display: inline-block;
	vertical-align: middle;
	@include square(2.24em);
	color: #000;
	background-color: #ddd;
	@include transition-colors;
}
.post_layout_excerpt .more-link:hover .more-text-icon {
	color: #e93314;
}
.post_layout_excerpt .more-link .more-text {
	display: inline-block;
	vertical-align: middle;
	opacity: 0;
	margin: 0;
	@include transition(margin-left .3s ease-out, color .3s ease, opacity .3s ease);
}
.post_layout_excerpt .more-link:hover .more-text {
	margin-left: 12px;
	opacity: 1;
}
.post_layout_excerpt .more-link .more-text-icon:before {
	font-family: $theme_icons;
	content: '\e991';
	font-size: 14px;
	line-height: inherit !important;
	font-weight: 400;
	font-style: inherit;
	display: inline-block;
	vertical-align: top;
	width: auto;
	margin: 0;
}